<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} %highlight(%-5level) %X{tracingId} %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Check if can be configured via applications.yml, for the purpose of dynamic configuration -->
    <!-- Set info level for non project specific logging-->
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
    <!-- Set debug level for project specific logging -->
    <logger name="com.kpdoggie" level="debug"/>
</configuration>